<%- include('includes/head') %>
<%- include('includes/nav') %>

<form action="/tarefas/<%= tarefa._id%>/editar?_method=PUT" method="POST">
  <input type="text" name="nome" value="<%= tarefa.nome %>">
  <input type="text" name="descricao" value="<%= tarefa.descricao %>">
  <button type="submit">Salvar</button>
</form>

<%- include('includes/footer') %>
