<%- include('includes/head') %>
<%- include('includes/nav') %>

<body>

  <section class="container">
    <h1>Tarefas</h1>

    <%- include('includes/messages') %>

    <% if(tarefas.length > 0) {%>
    <div class="responsive-table">
      <table class="table my-3">
        <% tarefas.forEach(tarefa => { %>
          <tr>
            <td><%= tarefa.nome %></td>
            <td><%= tarefa.descricao %></td>
            <td> <a href="/tarefas/<%= tarefa._id %>/editar" class="btn btn-sm btn-outline-primary">Editar</a></td>
          </tr>
        <% }) %>
      </table>
    </div>
    <%} else { %>
      <p class="text-center lead"> Não existem tarefas na sua lista</p>
    <% } %>
    
  </section>

<%- include('includes/footer') %>