<%- include('includes/head') %>
<%- include('includes/nav') %>

<body>
  <section class="container">
    <h1>Tarefas</h1>

    <% if (success.length > 0) { %>
      <ul>
        <% success.forEach(msg => { %>
          <li style="color:green;"><%= msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <%- include('includes/messages') %>

    <% if(user) { %>
      <% if(tarefas.length > 0) {%>
      <div class="responsive-table">
        <table class="table my-3">
          <% tarefas.forEach(tarefa => { %>
            <tr data-id="<%= tarefa.id %>">
              <td>
                <span class="nome" data-id="<%= tarefa.id %>"><%= tarefa.nome %></span>
              </td>
              <td>
                <span class="descricao" data-id="<%= tarefa.id %>"><%= tarefa.descricao %></span>
              </td>
              <td>
                <button type="button" class="btn btn-primary editar-btn" data-id="<%= tarefa.id %>">Editar</button>
                <button type="button" class="btn btn-primary salvar-btn" data-id="<%= tarefa.id %>" style="display: none;">Salvar</button>
              </td>
              <td>
                <button type="submit" class="btn btn-primary delete-btn">Apagar</button>
              </td>
            </tr>
          <% }) %>
        </table>
      </div>
      <% } else { %>
        <p class="text-center lead">Não existem tarefas na sua lista</p>
      <% } %>
    <% } else { %>
      <p class="text-center lead">Não está logado para ver as tarefas</p>
    <% } %>
  </section>
  
  <%- include('includes/footer') %>
  <script src="/js/main.js"></script>
</body>